.form-wrapper{
    width:100vw;
    height: 100vh;
    font-family: 'Poppins',  sans-serif;
    background-image: url('../images/galaxy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;




}




.form-container{

    width: 80%;

    margin:auto;
 margin-top:50px;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;

}

.heading-container{
    text-align: center;
}

.heading-container>h2{
    color:white;;
}

form>input{
    display: block;
}

.form{
    background-color :black;
    border-radius: 20px;;
    border: 3px solid white;
    padding: 50px;
    
}

input{
    font-family: 'Poppins', sans-serif;
    border:0;
    margin:20px;
    padding:8px;
    border-radius:10px;
}

input[type='text']{
    width: 250px;
    height: 20px;
}

input[type='file']{
    color: white;
}

input[type='submit']{

    width: 200px;
    margin: auto;
    margin-top: 15px;
}